*{
    padding: 0;
    margin : 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightblue;
    color: black;

    justify-content: center;
    align-items: center;
    height: 64px;
}